<div class="container py-4">
    <h1 class="text-center">¡Oportunidades para estudiar!</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 py-4 justify-content-center">
        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-1" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-1" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-2" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-2" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-3" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-3" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-4" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-4" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-5" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-5" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <div class="card-oportunidades">
                <img src="assets/comfama.png" class="img-card">
                <div class="card-body-oportunidades">
                    <div class="mb-5 d-flex justify-content-between">
                        <h5 class="text-card-h5-op">Alianza Empresarial - Comfama</h5>
                        <button class="boton-card">GUARDAR</button>
                    </div>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos accusantium amet similique velit iste dignissimos accusantium amet similique velit iste...
                        <input type="checkbox" id="toggle-text-6" class="toggle-text">
                        <span class="more-text">Texto adicional que estaba oculto...</span>
                        <label for="toggle-text-6" class="primary-btn"></label>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>