<section>
    <h2 class="border-bottom title-novedades" id="servicios">Novedades</h2>
       <div class="container__slider-nov">
           <div class="container-nov">
               <input type="radio" name="slider" id="item-1" checked>
               <input type="radio" name="slider" id="item-2">
               <input type="radio" name="slider" id="item-3">  
               <input type="radio" name="slider" id="item-4">  
               <input type="radio" name="slider" id="item-5">  
   
               <div class="cards-nov">
                   <label class="card-nov" for="item-1" id="selector-1">
                       <img class="img-novedades" src="assets/novedades-comfama-logo.png">
                   </label>
                   <label class="card-nov" for="item-2" id="selector-2">
                       <img class="img-fluid img-novedades" src="assets/novedades-itm-logo.jpg">
                   </label>
                   <label class="card-nov" for="item-3" id="selector-3">
                       <img class="img-novedades" src="assets/novedades-nodo-logo.png">
                   </label>
                   <label class="card-nov" for="item-4" id="selector-4">
                       <img class="img-novedades" src="assets/becas-santander.jpg">
                   </label>
                   <label class="card-nov" for="item-5" id="selector-5">
                       <img class="img-novedades" src="assets/novedades-velez-logo.jfif">
                   </label>
   
               </div>
           </div>
       </div>
   </section>
