body{
    background: #f60642;
}

.title{
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.container__slider-nov{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container-nov{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-nov{
    position: relative;
    width: 100%;
    height: 100%;
}

.card-nov{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-novedades{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

/* izquierda */

#item-1:checked ~ .cards-nov #selector-3,
#item-3:checked ~ .cards-nov #selector-5,
#item-5:checked ~ .cards-nov #selector-4,
#item-4:checked ~ .cards-nov #selector-2,
#item-2:checked ~ .cards-nov #selector-1{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards-nov #selector-2,
#item-2:checked ~ .cards-nov #selector-4,
#item-4:checked ~ .cards-nov #selector-5,
#item-5:checked ~ .cards-nov #selector-3,
#item-3:checked ~ .cards-nov #selector-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards-nov #selector-1,
#item-2:checked ~ .cards-nov #selector-2,
#item-3:checked ~ .cards-nov #selector-3,
#item-4:checked ~ .cards-nov #selector-4,
#item-5:checked ~ .cards-nov #selector-5{
    transform: translateX(0) scale(1);
    z-index: 1;
}

.title-novedades{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #222d56;
    }