<!-- Sección Beneficios -->
<section>
    <div class="container-beneficios container">
        <h2 class="title-beneficios">Obten los siguientes beneficios</h2>
        <div class="container-fuid px-4 " id="hanging-icons">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start ">
                <div class="container-beneficio">
                    <i class="bi bi-check-circle-fill"></i>
                    <h4 class="fw-bold mb-0 beneficios">Registro y creación del perfil personal</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente est id repellat possimus excepturi dolorum magni quisquam consequatur, iusto porro, quibusdam eos molestiae illo neque a omnis atque perspiciatis veniam.</p>
                </div>
                </div>
                <div class="col d-flex align-items-start ">
                <div class="container-beneficio">
                    <i class="bi bi-check-circle-fill"></i>
                    <h4 class="fw-bold mb-0 beneficios">Guardar oportunidades</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente est id repellat possimus excepturi dolorum magni quisquam consequatur, iusto porro, quibusdam eos molestiae illo neque a omnis atque perspiciatis veniam.</p>
                </div>
                </div>
                <div class="col d-flex align-items-start ">
                <div class="container-beneficio">
                    <i class="bi bi-check-circle-fill"></i>
                    <h4 class="fw-bold mb-0 beneficios">Recomendaciones personalizadas</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente est id repellat possimus excepturi dolorum magni quisquam consequatur, iusto porro, quibusdam eos molestiae illo neque a omnis atque perspiciatis veniam.</p>
                </div>
                </div>
                <div class="col d-flex align-items-start ">
                <div class="container-beneficio">
                    <i class="bi bi-check-circle-fill"></i>
                    <h4 class="fw-bold mb-0 beneficios">Contenido exclusivo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente est id repellat possimus excepturi dolorum magni quisquam consequatur, iusto porro, quibusdam eos molestiae illo neque a omnis atque perspiciatis veniam.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section >

    <!--Fin Sección Beneficios -->
