.photo-services{
    width: 350px;
    object-fit: cover;
}

.title-card{
    font-size: 25px;
    font-family: "Verdana";
  }

.title-services{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 70px;
text-align: center;
color: #222d56;
}

.card {
    /* width: 400px; */
    /* height: 600px; */
    margin: 10px 10px 10px 10px;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-weight: 100;
    background-image: linear-gradient(to right bottom, #32526E, #32526E);
}

.boton-service{
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}


.card-text{
    color: white;

}

.image-card{
    display: flex;
    align-items: center;
    justify-content: center;
}