  <!-- Acá se pone servicios -->
  <section >
    <div class="container-fuid px-4 py-5" id="hanging-icons">
      <h2 class="border-bottom title-services" id="servicios">Servicios</h2>
      <div class="row justify-content-center">
    
        <div class="card" style="width: 400px;">
          <div class="image-card">
            <img class="photo-services" src="assets/IMG_4511.jpg" alt="Pro-Vocacion">
          </div>
          <div class="card-body ">
            <h5 class="card-text">Vocación</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
              veritatis molestias dolorem distinctio excepturi architecto enim illum
              optio, deleniti tempora delectus temporibus voluptates. Quam velit
              aspernatur fugit commodi nemo eaque!</p>
            <div class="boton-service">
              <a href="#" class="btn btn-warning">LO QUIERO</a>
            </div>
          </div>
        </div>
    
        <div class="card" style="width: 400px;">
          <div class="image-card">
            <img class="photo-services" src="assets/photo2.jpeg" alt="Asesoría sociopedagógica">
          </div>
          <div class="card-body">
            <h5 class="card-text">Asesoría sociopedagógica</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
              veritatis molestias dolorem distinctio excepturi architecto enim illum
              optio, deleniti tempora delectus temporibus voluptates. Quam velit
              aspernatur fugit commodi nemo eaque!</p>
              <div class="boton-service">
                <a href="#" class="btn btn-warning">LO QUIERO</a>
              </div>
          </div>
        </div>
        
        <div class="card" style="width: 400px;">
          <div class="image-card">
            <img class="photo-services" src="assets/photo3.jpeg" alt="Test sociovacacional">
          </div>
          <div class="card-body">
            <h5 class="card-text">Test sociovacacional</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
              veritatis molestias dolorem distinctio excepturi architecto enim illum
              optio, deleniti tempora delectus temporibus voluptates. Quam velit
              aspernatur fugit commodi nemo eaque!</p>
              <div class="boton-service">
                <a href="#" class="btn btn-warning">LO QUIERO</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Acá termina sección servicios -->
