/* CSS NAVBAR */

.header {
    margin-top: 15px;
    background-color: #222D56;
    font-weight: 900;
    font-family: verdana;
    padding: 0 10% ;
  }   
  .header .logo {
    cursor: pointer;
  }
  
  .header .logo img {
    height: 100px;
    width: auto;
    transition: all 0,3s;
  }
  
  .header .logo img:hover {
    transform: scale(1.2);
  }
  
  .open-menu {
    display: none;
  }
  
  .nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__toggle{
    display: none;
  
  }
  
  .nav-bar{
    display: flex;
    gap: 6rem;
  
  
  }
  .nav-links {
    display: flex;
    align-self: center;
    color: white;
    >li>a {
        color:white;
        text-decoration: none;
    }
   
  }
  
  /* Sección derecha del navbar */
  .right-section {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .right-section .user-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Asegura que los elementos dentro de este contenedor se alineen a la derecha */
  }
  
  .user-info {
    text-align: right;
    margin-right: 10px;
    color: #ffffff;
  }
  
  .user-info span {
    
    font-size: 12px;
    text-transform: uppercase;
  }
  
  
  .status {
    background-color: #2C9BC7;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center; /* Texto centrado */  
  }
  
  .logout-button {
    display: flex;
    align-items: center;
    margin-top: 5px;
    
  }
  
  .logout-button .logout-icon {
    height: 22px;
    margin-right: 5px;
    
  }
  
  
  .logout-button button {
    background-color: #FAA307;
    color: #ffff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
  }
  
  .logout-button button:hover {
    background-color: #32526E;
  }
  
  /* Contenedor de la foto del usuario */
  .user-photo {
    width: 80px; /* Ajusta el tamaño del contenedor según sea necesario */
    height: 80px; /* Ajusta el tamaño del contenedor según sea necesario */
    border-radius: 50%; /* Hace el contenedor circular */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  }
  
  .user-photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  
  
  @media screen and (max-width: 1024px){
    .nav__toggle{
        z-index: 40;
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 10px;
        color: #ffffff;
       
    }
  
  
    .log-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 1rem;
        margin-left: 20px;
    }
    
    .show-menu{
        right: 0;
    }
  
    .nav-bar{
    position: fixed;
    flex-direction: column;
    top: 0;
    z-index: 30;
    right: -100%;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.5s;
    gap: 1rem;
    }
  
    .show-menu{
        right: 0;
    }
  
    .nav-close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
        color: #222D56;
        >li> a {
            color: #222D56
        }
    }
  
     .header .nav-links ul li a{
        font-size: 1.5rem;
        color: black;
    }
  
  
    .user-info {
      align-items: center;
      color: #222D56;
      font-size: 1.5rem;
      
    }
  
    .user-info-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  
    .user-photo-img {
      display: none; /*imagen avatar*/
    }
  }
  
  /* Fin primer responsive */
  
  .menu {
    margin-top: 12px;
    align-self: center;
  }
  
  .header .nav-links {
    cursor: pointer;
    list-style: none;
  }
  
  .header .nav-links li {
    align-items: center;
    display: inline-block;
    padding: 0 20px;
  }
  
  .header .nav-links li:hover {
    transform: scale(1.1);
  }
  
  .header .nav-links {
    font-size: 700;
    color: #DCEBF9;
    text-decoration: none;
  }
  
  .header .nav-links li a:hover {
    color: #DCEBF9;
  }
  
  
  .header .btn button {     
    color: #32526E;
    padding:  9px 25px;
    background: #DCEBF9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 900;
  
  }
  
  .header .btn button:hover {
    background-color: #FFBA08;
    color: white;
    transform: scale(1.1);
  }
  
  
  
  .nav-search {
    background-color: #222D56;
    margin-top: 18px;
    
    
   
  }
  
  .nav-search .container-fluid {
    width: auto;
    font-weight:normal   
  }
  
  .buscar {
    width: 600px;
  }
  
  .nav-search .btn img:hover {  
    transform: scale(1.9);
  }
  
  ::placeholder {
    font-family: verdana; 
    color: #708BC6;
    font-size: 16px;
    font-style: italic;
  }
  
  
  @media screen and (max-width:700px){
  
   .menu {
        column-rule-width: 50%;
    }
    .nav-search {
        width: 100%;
        
    }
  
    .buscar {
        width: 100%;
       
    } 
    .container-buscar {
        display: flex;
        justify-content: center;
    }
  
  
  }
  
  /* busqueda */
  
  .container {
    position: relative;
    border-radius: 1000px;
    padding: 10px;
    display: grid;
    place-content: center;
    max-width: 300px;
    margin: 10px 10px;
  }
  
  .search-container {
    position: relative;
    width: 120%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after, .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    padding: 10px;
    width: 100%;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    color: #9EBCD9;
    font-size: 20px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }
  
  .search__icon {
    width: 50px;
    aspect-ratio: 1;
    border-left: 2px solid white;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 10px;
  }
  
  .search__icon:hover {
    border-left: 3px solid white;
  }
  
  .search__icon path {
    fill: white;
  }
  /* fin CSS NAVBAR */