
<header class="header container-fluid">
    <div class="nav-main container">
      <nav class="navbar navbar-expand-lg nav-bar">
        <!-- Logo fundación antivirus -->
        <a class="navbar-brand" href="#">
          <img class="img-fluid logo" src="/assets/LogoFundacionAntivirus.png" alt="Logo Fundación">
        </a>
  
        <!-- Botón de menú hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Contenedor del menú desplegable -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-links">
            <li class="nav-item">
              <a class="nav-link" routerLink="/public/home">Inicio</a>
            </li>
            <li class="nav-item" (click)="servicios2()">
              <a class="nav-link">Servicios</a>
            </li>
          </ul>
  
                <!-- Sección Derecha -->
                <div class="right-section ">
                    <div class="user-info-wrapper">
                    <div class="user-info">
                        <span id="user-name">NOMBRE COMPLETO DEL USUARIO</span>
                        <!-- <div class="status">Usuario registrado</div> -->
                        <div class="logout-button">
                        <button id="logout">
                            <i class="bi bi-box-arrow-left logout-icon"></i>
                            Salir
                        </button>
                        </div>
                    </div>
                    <div class="user-photo">
                        <img id="user-photo" class="user-photo-img" src="assets/Avatar.png" alt="Foto del Usuario"> <!-- Añade la foto del usuario aquí -->
                    </div>
                    </div>
                </div> 
        </div>
      </nav>
    </div>
  </header>