
/* CSS NAVBAR */
.header {
    margin-top: 15px;
    background-color: #222D56;
    font-weight: 900;
    font-family: verdana;
    padding: 0 10% ;
}   
.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0,3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.open-menu {
    display: none;
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle{
    display: none;

}

.nav-bar{
    display: flex;
    gap: 6rem;


}
.nav-links {
    display: flex;
    align-self: center;
    color: white;
    >li>a {
        color:white;
        text-decoration: none;
    }
   
}

@media screen and (max-width: 769px){
    .nav__toggle{
        z-index: 40;
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 10px;
        color: #ffffff;
       
    }

    .log-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 1rem;
        margin-left: 20px;
    }
    
    .show-menu{
        right: 0;
    }

    .nav-bar{
    position: fixed;
    flex-direction: column;
    top: 0;
    z-index: 30;
    right: -100%;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.5s;
    gap: 1rem;
    }

    .show-menu{
        right: 0;
    }

    .nav-close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
        color: #222D56;
        >li> a {
            color: #222D56
        }
    }

     header .nav-links ul li a{
        font-size: 1.5rem;
        color: black;
    }
}


.menu {
    margin-top: 12px;
    align-self: center;
}

.header .nav-links {
    cursor: pointer;
    list-style: none;
}

.header .nav-links li {
    align-items: center;
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links {
    font-size: 700;
    color: #DCEBF9;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #DCEBF9;
}


.header .btn button {     
    color: #32526E;
    padding:  9px 25px;
    background: #DCEBF9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 900;

}

.header .btn button:hover {
    background-color: #FFBA08;
    color: white;
    transform: scale(1.1);
}




@media screen and (max-width:700px){

   .menu {
        column-rule-width: 50%;
    }
    
    
}


/* fin CSS NAVBAR */