
/* CSS NAVBAR */
.header {
    margin-top: 15px;
    background-color: #222D56;
    font-weight: 900;
    font-family: verdana;
    padding: 0 10% ;
    display: flex;
    justify-content: center;
}   
.header .logo {
    cursor: pointer;
    width: 8rem;
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0,3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}



.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__toggle{
    display: none;

}


.nav-links {
    display: flex;
    align-self: center;
    color: white;
    >li>a {
        color:white;
        text-decoration: none;
    }
   
}

.bi-list{
    width: 50px;
    color: aliceblue;
}

 @media screen and (max-width: 900px){
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header .logo{
    display: none;
    }

    .navbar-toggler-icon{
        display: flex;
        justify-content: start;
    }

} 


.menu {
    margin-top: 12px;
    align-self: center;
}

.header .nav-links {
    cursor: pointer;
    list-style: none;
}

.header .nav-links li {
    align-items: center;
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links {
    font-size: 700;
    color: #DCEBF9;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #DCEBF9;
}


.header .btn button {     
    color: #32526E;
    padding:  9px 25px;
    background: #DCEBF9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 900;

}

.header .btn button:hover {
    background-color: #FFBA08;
    color: white;
    transform: scale(1.1);
}




/* @media screen and (max-width:700px){

   .menu {
        column-rule-width: 50%;
    }
    
    
} */


/* fin CSS NAVBAR */