.header {
    margin-top: 15px;
    background-color: #222D56;
    font-weight: 900;
    font-family: verdana;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    cursor: pointer;
    width: 8rem;
}

.header .logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    font-size: 30px;
    background-color: #FFFFFF; /* Cambia el color del ícono a blanco */
    border-radius: 5px;
}

.navbar-collapse {
    justify-content: end; /* Centra el contenido del menú */
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links > li {
    padding: 0 20px;
}

.nav-links > li > a {
    color: white;
    text-decoration: none;
}

.nav-links > li:hover {
    transform: scale(1.1);
}

.header .btn button {
    color: #32526E;
    padding: 9px 25px;
    background: #DCEBF9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 900;
}

.header .btn button:hover {
    background-color: #FFBA08;
    color: white;
    transform: scale(1.1);
}


/*Estilos pantallas medianas*/

@media screen and (max-width: 1145px) {
    .header .btn button {
        color: #32526E;
        padding: 9px 15px;
        background: #DCEBF9;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-weight: 900;
    }

    .botones-inicio-registro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Estilos para el menú hamburguesa y botones en vista responsive */
@media screen and (max-width: 900px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-collapse {
        flex-direction: column;
        align-items: center;
        background: #222D56;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        padding: 10px 0;
        width: 100%;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .navbar-collapse .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-collapse .nav-links > li {
        padding: 10px 0;
    }

    .log-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .log-buttons .btn {
        margin-bottom: 10px;
    }
    .header .btn button {
        color: #32526E;
        padding: 9px 25px;
        background: #DCEBF9;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-weight: 900;
    }
}

