<!-- Acá inicia footer -->
<footer class="footer">
    <div class="container d-flex align-items-center">
      <div class="contenedor-footer">
        <div class="col-6 f-left">
          <img class="img-fluid" src="assets/Logo-Fundación-Antivirus.png" alt="">
          <p>También puedes encontrarnos en</p>
          <div class="icon-container-f">
            
              <a href="https://www.facebook.com/share/bCA2HxbGpATfZ1dT/?mibextid=qi2Omg" target="_blank" class="social-link">
                <i class='bi bi-facebook'></i>
              </a>
              <a href="https://www.linkedin.com/company/antivirus-desercion/" target="_blank" class="social-link">
                <i class='bi bi-linkedin'></i>
              </a>
              <a href="https://www.instagram.com/somosantivirus/" target="_blank" class="social-link">
                <i class='bi bi-instagram'></i>
              </a>
              <a href="https://api.whatsapp.com/send?phone=3226367781" target="_blank" class="social-link">
                <i class='bi bi-whatsapp'></i>
              </a>
            
          </div>
        </div>
    
        <div class="col-6 f-right">
          
            <h4>
              <p>¿Quieres conocer más de nosotros?</p>
            </h4>
            <h4>Contáctanos hoy mismo!</h4>
            <div class="email-footer">
              <i class="bi bi-envelope-at"></i>
              <p class="p-footer">Vía Email:</p>
            </div>
            <p class="small-text">contactenos&#64;fundacionantivirusparaladesercion.org</p>
            <div class="whatsapp-footer">
              <i class="bi bi-whatsapp"></i>
              <p>Vía WhatsApp:</p>
            </div>
            <p class="small-text">+57 3226367781</p>
      
            <div class="footer-section">
              <p class="small-text"><a href="#">Términos y Condiciones</a> &emsp; <a href="#">Política de Privacidad</a></p>
            </div>
            <div class="footer-section">
              <h4>
                <p><a href="#">Banco de Oportunidades</a></p>
              </h4>
            </div>
            <div class="subscription-section">
              <div class="subscription-content">
                <h5>Suscríbete a nuestro boletín informativo</h5>
                <form class="subscription-form">
                  <input type="email" placeholder="Ingresa tu correo electrónico" required class="d-flex justify-content-center">
                  <button type="submit" class="subscription-content-btn">Suscribirse</button>
                </form>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    
   </footer>
  
  <!-- Fin de footer -->
