
  
  /* Comienzo Footer David Alejandro y Juan Carlos*/
  
  /* lado izquierdo del footer */
  
  .footer{
    background: #222D56;
  }
  
  .contenedor-footer{
    display: flex;
    background: #222D56;
    margin: auto;
    padding: 40px 0;
    
  }
  
  .icon-container-f{
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .f-left{
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    gap: 20px;
    
  }
  
  .social-link{
    color: #ffffff;
    text-decoration: none;
    
  }
  
  
  
  .social-link i{
    font-size: 35px;
    background: #FAA307;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 5px;
    
  }
  
  .social-link i:hover {
    cursor: pointer;
      background-color: #32526E;
  }
  
  /* Fin lado izquierdo del footer */
  
  /* Lado derecho del footer*/
  .f-right{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-top: 58px;
  }
  
  .email-footer, .whatsapp-footer{
    display: flex;
    justify-content: center;
    gap: 0 10px;
    
  }
  
  
   
  .footer-section h4 {
    padding-bottom: 10px;
    text-decoration: underline;
  }
  
  .footer-section p,
  .footer-section a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #fff;
  }
  
  
  
  .subscription-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    }
    
  
    .subscription-form {
    width: 20rem;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    }
    
    .subscription-form input[type="email"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
    width: 16rem;
    }
  
    form button[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFBA08;
        color: #ffffff;
        font-size: 20px;
        border-radius: 5px 5px 5px 5px;
        border: none;
        height: 2.9rem;
        width: 8rem;
        margin-top: 8px;
    }
  
    form button[type="submit"]:hover {
        background-color: #32526E;
        cursor: pointer;
        
        
    }
  
    @media (max-width: 992px) {
      .contenedor-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #222D56;
      }
    
      .subscription-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .f-right {
        margin-top: 50px;
        text-align: center; /* Asegura que el texto esté centrado en dispositivos móviles */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido dentro del contenedor */
      }
    
      .subscription-form {
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
      }
    }